/* Estilos modificables de la sección banner */

/*  
    background-color: nos permite modificar el color del fondo del banner 
    color: nos permite cambiar el color del texto del banner
*/



/* Color titulo del banner */
section.banner h1{
    color: #ffffff;
}

/* Color descripcion del banner */
section.banner p{
    color: #ffffff;
}


/*  Estilos seccion banner 
    NO MODIFICAR
    */

section.banner {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    height: 350px;

    background-color: rgba(255, 255, 255, 0.102);
    background-image: url("../logosConectar/img.conectarlab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.banner div{
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    padding: 20px;
}

section.banner div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    height: auto;
    width: 30%;
}

section.banner img {
    width: 40%;
}

@media (max-width: 700px) { 
    section.banner{
        flex-direction: column-reverse;
    }
    section.banner div,
    section.banner img{
        width: 100% ;
    }
}

body{
    background-color: aliceblue;
}